<div class="topbar">
    <div class="container d-flex justify-content-between align-items-center text-white slider1.png">
        <div class="text-white top-bar-phone">
            <i class="fas fa-phone"></i> +1-000-000-00
        </div>
        <div class="text-center">
            FREE Delivery on Orders above $99 /-
        </div>
        <div class="text-white" style="display:none;">
            <button class="transparent-button">
                <div class="transparent-button-icon"></div>
                <div class="count">0</div>
            </button>
        </div>
    </div>
</div>