<h1 class="heading">ABOUT US</h1>
<div class="container mian-container">

<section>
    <h2>Welcome to Halal Pizza Point</h2>
    <p>
        Welcome to Halal Pizza Point, where delicious flavors and high-quality ingredients come together to create a
        memorable dining experience. We take pride in offering a diverse menu of halal pizzas crafted with care and
        attention to detail.
    </p>
</section>

<section>
    <h2>Our Location</h2>
    <p>
        <strong>Address:</strong> 5230 Dempster St, Skokie, IL 60077
    </p>
    <p>
        At Halal Pizza Point, we are conveniently located in Skokie, Illinois. Our restaurant provides a warm and
        inviting atmosphere for you to enjoy our mouthwatering halal pizzas with family and friends.
    </p>
</section>

<section>
    <h2>Store Hours</h2>
    <p>
        We understand that your cravings for our delectable pizzas can strike at any time. That's why we're open
        seven days a week to serve you.
    </p>
    <ul>
        <li><strong>Sunday:</strong> 11:30 am to 10 pm</li>
        <li><strong>Monday:</strong> 11:30 am to 10 pm</li>
        <li><strong>Tuesday:</strong> 11:30 am to 10 pm</li>
        <li><strong>Wednesday:</strong> 11:30 am to 10 pm</li>
        <li><strong>Thursday:</strong> 11:30 am to 10 pm</li>
        <li><strong>Friday:</strong> 11:30 am to 11 pm</li>
        <li><strong>Saturday:</strong> 11:30 am to 11 pm</li>
    </ul>
    <p>
        Join us any day of the week to savor the delightful taste of our halal pizzas made with the finest
        ingredients. We look forward to welcoming you to Halal Pizza Point for an unforgettable dining experience.
    </p>
</section>
</div>