.heading{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
   padding-bottom: 40px;
   margin-bottom: 40px;
   color: #e74c3c; 
   background: url("~src/assets/slider3.png");
   padding-top: 150px;
   background-position: center;
}
section h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.mian-container{

    margin-bottom: 150px;
}