<div class="container-fluid footer-container-overlay">
    <div class="container">
        <a class="navbar-brand mr-lg-5">
            <img class="brand-logo" src="./assets/logonav.png">
        </a>
        <div class="row gx-5 gy-5">
            <div class="col-lg-4 col-xs-12 col-sm-12 col-md-12">
                <div class="heading">ABOUT HALAL PIZZA</div>
                <p class="detail-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac urna a sapien accumsan congue. Aenean eget massa vel nisi tincidunt fermentum. Quisque non odio vel eros fermentum ultrices. Sed a libero vel metus tincidunt scelerisque. Vivamus nec viverra justo.</p>
             </div>
             <div class="col-lg-4 col-xs-12 col-sm-12 col-md-12">
                <div class="heading">LOCATIONS</div>
                <p class="detail-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac urna a sapien accumsan congue. Aenean eget massa vel nisi tincidunt fermentum. Quisque non odio vel eros fermentum ultrices. Sed a libero vel metus tincidunt scelerisque. Vivamus nec viverra justo.</p>
             </div>
             <div class="col-lg-4 col-xs-12 col-sm-12 col-md-12">
                <div class="heading">NEWSLETTER</div>
                <form>
                    <div class="form-group d-flex newsletter-container">
                      <input type="text" class="form-control newsletter-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                      <button type="submit" class="btn btn-primary newsletter-send-button">SEND</button>
                    </div>
                  </form>
             </div>
             </div>
    </div>
</div>

